<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.dislux.yshangflutter.native_plugin">
    <application>
        <receiver android:name=".receiver.InstallApkReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
